<div class="col-xs-12">
  <h4 class="text-uppercase text-muted">Today's Matches <small>{{date}}</small></h4>
  <div class="row">
      <div *ngFor="let match of matches" class="col-xs-12 col-md-6 match-info">
          <!-- <p>
              <b class="text-uppercase" style="text-align: center;">
                    <img class="img-responsive" width="100px" src="assets/team_logos/{{match.logo1}}" alt="no image found">
                  {{match.team1}}
              </b> vs
              <b class="text-uppercase">
                    <img class="img-responsive" style="max-height: 100px;" width="100px" src="assets/team_logos/{{match.logo2}}" alt="no image found">                  
                {{match.team2}}
              </b>
              
          </p> -->
          <div>
              <p style="text-align: center;" class="text-uppercase">
                    <img class="img-responsive" style="max-height: 120px;" width="140px" height="120px" src="assets/team_logos/{{match.logo1}}" alt="no image found">
                    {{match.team1}}                    
              </p>
              <p style="text-align: center;" class="text-uppercase">VS</p>
              <p style="text-align: center;" class="text-uppercase">
                    <img class="img-responsive" style="max-height: 120px;" width="140px" height="120px" src="assets/team_logos/{{match.logo2}}" alt="no image found">
                    {{match.team2}}                    
              </p>
          </div>
          <p *ngIf="veiwMore"> 
            Winner:
            {{match.winner}} By
              <span *ngIf="winbywickets(match.win_by_wickets)">
                  {{match.win_by_wickets}} Wickets
              </span>
              <span *ngIf="winbyruns(match.win_by_runs)">
                  {{match.win_by_runs}} Runs
              </span>
          </p>
      </div>
  </div>
  <div class="align-center" *ngIf="matches && !matches.length">No matches today...</div>
  <p class="details" (click)="toggle()"> {{!veiwMore? 'View Match Results' : 'Hide Results'}} <span></span></p>
  <div class="clearfix"></div>
  <!-- <small class="text-muted">Note: Assuming today's date is .</small> -->
</div>